In [35]:
import pandas as pd

url = '../.../../assets/AmesHousing.csv'
df = pd.read_csv(url) #, engine='pyarrow', dtype_backend='pyarrow')

### Outliers and Z-scores

Goals:

* Calculate the Z-score for the "SalePrice" column using the `calc_z` function.
* Identify outliers based on the Z-score by assigning a boolean column indicating whether the Z-score is greater than or equal to 3 or less than or equal to -3.
* Identify outliers using the IQR (interquartile range) method by assigning a boolean column indicating whether the values are outside the range of median Â± 3 * IQR.

In [44]:
# outlier with Z-score
def calc_z(df_, col):
    mean = df_[col].mean()
    std = df_[col].std()
    return (df_[col]-mean)/std

In [45]:
(df
 .pipe(calc_z, col='SalePrice')
)

0       0.428156
1      -0.948795
2      -0.110107
3       0.791170
4       0.113961
          ...
2925   -0.479380
2926   -0.623334
2927   -0.610816
2928   -0.135142
2929    0.090177
Name: SalePrice, Length: 2930, dtype: float64

In [46]:
(df
 .assign(z_score=calc_z(df, col='SalePrice'))
 .query('z_score.abs() >= 3')
 # .query('z_score <= -3')
)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,z_score,z_score_outlier
15,16,527216070,60,RL,47.0,53504,Pave,NaN,IR2,HLS,...,NaN,NaN,0,6,2010,WD,Normal,538000,4.471382,True
44,45,528150070,20,RL,100.0,12919,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,3,2010,New,Partial,611657,5.393401,True
46,47,528176010,20,RL,110.0,14300,Pave,NaN,Reg,HLS,...,NaN,NaN,0,6,2010,WD,Normal,500000,3.995709,True
366,367,527214050,20,RL,63.0,17423,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,7,2009,New,Partial,501837,4.018704,True
421,422,528102140,60,RL,110.0,14257,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,6,2009,WD,Normal,462000,3.520035,True
422,423,528104070,60,RL,104.0,13518,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,7,2009,New,Partial,485000,3.807943,True
423,424,528106020,20,RL,105.0,15431,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,4,2009,WD,Normal,555000,4.684184,True
431,432,528110010,60,RL,97.0,13478,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,6,2009,ConLI,Normal,451950,3.394232,True
432,433,528110020,20,RL,105.0,13693,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,3,2009,WD,Normal,610000,5.372659,True
433,434,528110090,60,RL,107.0,13891,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,1,2009,New,Partial,582933,5.033841,True
448,449,528166090,20,RL,110.0,15274,Pave,NaN,IR1,Lvl,...,MnPrv,NaN,0,7,2009,WD,Normal,445000,3.307233,True
456,457,528176030,20,RL,100.0,14836,Pave,NaN,IR1,HLS,...,NaN,NaN,0,2,2009,WD,Abnorml,552000,4.646630,True
513,514,528441090,20,RL,85.0,11128,Pave,NaN,Reg,Lvl,...,GdPrv,NaN,0,10,2009,WD,Normal,468000,3.595141,True
968,969,921128050,20,RL,85.0,12633,Pave,NaN,IR1,HLS,...,NaN,NaN,0,5,2009,WD,Normal,425000,3.056879,True
1051,1052,528102110,60,RL,96.0,12474,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,8,2008,New,Partial,426000,3.069397,True
1053,1054,528104080,60,RL,67.0,14948,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,11,2008,New,Partial,446261,3.323018,True
1059,1060,528118090,60,RL,96.0,12539,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,6,2008,WD,Normal,460000,3.494999,True
1063,1064,528164060,20,RL,106.0,12720,Pave,NaN,Reg,HLS,...,NaN,NaN,0,2,2008,WD,Normal,615000,5.435247,True
1067,1068,528178070,60,RL,130.0,16900,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,1,2008,WD,Normal,421250,3.009937,True
1425,1426,906412010,20,RL,91.0,11778,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,6,2008,WD,Abnorml,475000,3.682765,True
1637,1638,527216080,20,RL,52.0,51974,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,6,2007,New,Partial,591587,5.142170,True
1641,1642,527256030,20,RL,85.0,14082,Pave,NaN,IR1,HLS,...,NaN,NaN,0,1,2007,WD,Normal,441929,3.268791,True
1642,1643,527256040,20,RL,81.0,13870,Pave,NaN,IR1,HLS,...,NaN,NaN,0,10,2007,New,Partial,455000,3.432411,True
1691,1692,528106050,60,RL,107.0,13641,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,12,2007,New,Partial,492000,3.895567,True
1693,1694,528106110,20,RL,105.0,15431,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,8,2007,WD,Normal,450000,3.369822,True
1695,1696,528110040,20,RL,107.0,13891,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,10,2007,New,Partial,479069,3.733700,True
1699,1700,528114050,20,RL,110.0,14977,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,7,2007,New,Partial,440000,3.244645,True
1701,1702,528118050,20,RL,59.0,17169,Pave,NaN,IR2,Lvl,...,NaN,NaN,0,8,2007,New,Partial,500067,3.996547,True
1760,1761,528320050,60,RL,160.0,15623,Pave,NaN,IR1,Lvl,...,MnPrv,NaN,0,7,2007,WD,Abnorml,745000,7.062552,True
1763,1764,528327060,20,RL,NaN,11400,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,3,2007,WD,Normal,466500,3.576365,True
1767,1768,528351010,60,RL,104.0,21535,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,1,2007,WD,Normal,755000,7.187730,True
1772,1773,528366050,20,RL,NaN,12692,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,5,2007,WD,Normal,430000,3.119467,True
2097,2098,906340090,60,RL,77.0,9965,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,4,2007,New,Partial,424870,3.055252,True
2329,2330,527210030,60,RL,59.0,16023,Pave,NaN,IR1,HLS,...,NaN,NaN,0,3,2006,New,Partial,457347,3.461790,True
2330,2331,527210040,60,RL,60.0,18062,Pave,NaN,IR1,HLS,...,NaN,NaN,0,9,2006,New,Partial,545224,4.561810,True
2332,2333,527212030,60,RL,85.0,16056,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,7,2006,New,Partial,556581,4.703974,True
2334,2335,527214060,60,RL,82.0,16052,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,7,2006,New,Partial,535000,4.433829,True
2336,2337,527216050,60,RL,66.0,13682,Pave,NaN,IR2,HLS,...,NaN,NaN,0,10,2006,New,Partial,438780,3.229373,True
2341,2342,527256120,20,RL,90.0,18261,Pave,NaN,IR1,HLS,...,NaN,NaN,0,9,2006,WD,Normal,470000,3.620177,True
2382,2383,528110050,20,RL,107.0,13891,Pave,NaN,Reg,Lvl,...,NaN,NaN,0,9,2006,New,Partial,465000,3.557588,True
2400,2401,528170040,60,RL,56.0,20431,Pave,NaN,IR2,Lvl,...,NaN,NaN,0,4,2006,New,Partial,437154,3.209019,True
2445,2446,528320060,60,RL,118.0,35760,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,7,2006,WD,Normal,625000,5.560425,True
2450,2451,528360050,60,RL,114.0,17242,Pave,NaN,IR1,Lvl,...,NaN,NaN,0,5,2006,WD,Normal,584500,5.053457,True
2456,2457,528429120,20,RL,49.0,20896,Pave,NaN,IR2,Lvl,...,NaN,NaN,0,1,2006,New,Partial,423000,3.031843,True
2666,2667,902400110,75,RM,90.0,22950,Pave,NaN,IR2,Lvl,...,GdPrv,NaN,0,6,2006,WD,Normal,475000,3.682765,True

In [47]:
df = df.assign(
    z_score=calc_z(df, col='SalePrice'),
    z_score_outlier=lambda d: d['z_score'].abs() > 3
)

In [48]:
def calc_iqr_outlier(df, col):
    ser = df[col]
    iqr = ser.quantile(.75) - ser.quantile(.25)
    med = ser.median()
    small_mask = ser < med-iqr*3
    large_mask = ser > med+iqr*3
    return small_mask | large_mask

In [41]:
# df[
# calc_iqr_outlier(df, 'SalePrice')
# ]

In [54]:
df = (df
 .assign(iqr_outlier=calc_iqr_outlier(df, col='SalePrice'))
 #.query('iqr_outlier')
)

In [55]:
df.columns

Index(['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'Sale Condition', 'SalePrice', 'z_score', 'z_score_outlier',
       'iqr_outlier'],
      dtype='object')

In [56]:
df

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,z_score,z_score_outlier,iqr_outlier
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,NaN,0,5,2010,WD,Normal,215000,0.428156,False,False
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,NaN,0,6,2010,WD,Normal,105000,-0.948795,False,False
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,Gar2,12500,6,2010,WD,Normal,172000,-0.110107,False,False
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,NaN,0,4,2010,WD,Normal,244000,0.791170,False,False
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,NaN,0,3,2010,WD,Normal,189900,0.113961,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,NaN,0,3,2006,WD,Normal,142500,-0.479380,False,False
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,NaN,0,6,2006,WD,Normal,131000,-0.623334,False,False
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,Shed,700,7,2006,WD,Normal,132000,-0.610816,False,False
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,NaN,0,4,2006,WD,Normal,170000,-0.135142,False,False
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,NaN,0,11,2006,WD,Normal,188000,0.090177,False,False